* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

:root {
  --font_dancing: 'Dancing Script';
  --btn_color: #ffbe33;
  --dark_color: #222831;
}

.btn_main {
  width: 160px;
  height: 40px;
  padding: 5px;
  border-radius: 20px;
  background-color: var(--btn_color);
  color: white;
  border: none;
  margin-left: 15px;
  font-size: 18px;
}
